name: Deploy to Firebase Hosting [production]
on: [release]
jobs:
  deploy_live_website:
    runs-on: ubuntu-latest
    env:
      REACT_APP_GOOGLE_MAP: "${{ secrets.GOOGLE_MAP_API_KEY }}"
      REACT_APP_SENTRY: "${{ secrets.SENTRY_PRODUCTION }}"
      NODE_ENV: "production"
    steps:
      - uses: actions/checkout@v2
      - run: npm ci && npm run build
      - uses: w9jds/firebase-action@master
        env:
          FIREBASE_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GCP_SA_KEY: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          PROJECT_ID: "${{ secrets.FIREBASE_PROJECT_ID }}"
